<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Chat项目    2023/12/2  23:31:54-->
<mapper namespace="com.example.springbootchat.model.mapperInterface.FriendRequestMapper">
    <resultMap id="friendRequest" type="com.example.springbootchat.model.entry.friendRequest">
        <result column="datetime" property="requestTime"/>
        <result column="first_message" property="firstMessage"/>
        <association property="vUser"
                     select="com.example.springbootchat.model.mapperInterface.UserMapper.selectUserById" column="vid"/>
        <association property="pUsers"
                     select="com.example.springbootchat.model.mapperInterface.UserMapper.selectUserById" column="pid"/>
    </resultMap>
    <insert id="insertFriendRequest" parameterType="map">
        insert into friendrequest
        values (null, #{id1}, #{id2}, #{time}, #{text})
    </insert>
    <select id="selectFriendRequestByVid"
            resultMap="friendRequest">
        select pid, vid, datetime, first_message
        from friendrequest
        where vid = #{vid}
    </select>
    <select id="selectFriendRequestByVidAndPid"
            resultMap="friendRequest">
        select pid, vid, datetime, first_message
        from friendrequest
        where vid = #{vid}
          and pid = #{pid};
    </select>
    <delete id="deleteFriendRequestByPidAndVid">
        delete
        from friendrequest
        where pid = #{pid}
          and vid = #{vid}
    </delete>

</mapper>